<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
  <div class="breadcrumb-title pe-3">RecPRO</div>
  <div class="ps-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0 p-0">
        <li class="breadcrumb-item"><a href="#" (click)="$event.preventDefault()"><i class="bx bx-home-alt breadcrumb-item"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Calculation</li>
        <li class="breadcrumb-item active" aria-current="page">Content-based</li>
      </ol>
    </nav>
  </div>
</div>
<!--end breadcrumb-->

<div class="card">
  <div class="card-body">
    <table class="table mb-0 table-hover table-bordered">
      <thead>
      <tr>
        <th scope="col">
        </th>
        <th *ngFor="let a of activities" scope="col" style="max-width: 100px;">
          {{a.name}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let a of activities">
        <th scope="row">
          {{a.name}}
        </th>
        <td *ngFor="let b of activities">
          {{getCalculationForActivities(a, b) | number:'1.0-2'}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

