/* You can add global styles to this file, and also import other style files */

@import '~ngx-bar-rating/themes/br-default-theme.scss';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

span.circle {
  background: #e3e3e3;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #6e6e6e;
  display: inline-block;
  font-weight: bold;
  line-height: 40px;
  margin-right: 5px;
  text-align: center;
  width: 40px;
}
