<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
  <div class="breadcrumb-title pe-3">BPMS</div>
  <div class="ps-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0 p-0">
        <li class="breadcrumb-item"><a href="#" (click)="$event.preventDefault()"><i class="bx bx-home-alt breadcrumb-item"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">RecproWorklist</li>
      </ol>
    </nav>
  </div>

</div>
<!--end breadcrumb-->

<div class="card">
  <div class="card-body">
    <div class="d-lg-flex align-items-center mb-4 gap-3">
      <div class="position-relative">
        <input type="text" class="form-control ps-5 radius-30" placeholder="Search RecproTask"> <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
      </div>
      <div class="ms-auto">
        <div class="btn-group">
          <button type="button" class="btn btn-primary">Order</button>
          <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
            <a class="dropdown-item" (click)="sort('fifo')">FIFO</a>
            <a class="dropdown-item" (click)="sort('contentBased')">Content-based</a>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table mb-0">
        <thead class="table-light">
        <tr>
          <th>Activitiy</th>
          <th>Priority</th>
<!--          <th>Assignee</th>-->
          <th>CreatedAt</th>
          <th *ngIf="sortOrder === 'contentBased'">PredictedRating</th>
          <th *ngIf="sortOrder === 'contentBased'">RatingCount</th>
          <th *ngIf="sortOrder === 'contentBased'">Similarity</th>
          <th *ngIf="sortOrder === 'contentBased'">SimilarTo</th>
          <th>Data</th>
          <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of displayed">
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-2">
                <h6 class="mb-0 font-14">{{t.id}}</h6>
              </div>
            </div>
          </td>
          <td>{{t.activity.name}} (ID {{t.activity.id}})</td>
<!--          <td>{{t.assignee.firstName}} {{t.assignee.lastName}}</td>-->
          <td>{{t.createdAt}}</td>
          <td *ngIf="sortOrder === 'contentBased'">{{t.predictedRating}}</td>
          <td *ngIf="sortOrder === 'contentBased'">{{t.ratingCount}}</td>
          <td *ngIf="sortOrder === 'contentBased'">{{t.similarity}}</td>
          <td *ngIf="sortOrder === 'contentBased'">{{t.b}}</td>
          <td>{{t.data}}</td>
          <td><button type="button" class="btn btn-primary btn-sm radius-30 px-4" (click)="viewDetails(t)">View Details</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


