


<div style="height: 60vh;">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div>
      <div class="message">
        <h1  class="h-100 d-flex align-items-center justify-content-center">Welcome to</h1>
        <img class="d-flex align-items-center justify-content-center" src="assets/images/logo.svg" style="height: 120px;">
      </div>
    </div>
  </div>
</div>

