<!--start header -->
<header>
  <div class="topbar d-flex align-items-center">
    <nav class="navbar navbar-expand">
      <div class="mobile-toggle-menu"><i (click)="toggleSidebar()" class='bx bx-menu'></i>
      </div>
<!--      <div class="search-bar flex-grow-1">-->
<!--        <div class="position-relative search-bar-box">-->
<!--          <input type="text" class="form-control search-control" placeholder="Type to search..."> <span class="position-absolute top-50 search-show translate-middle-y"><i class="bx bx-search"></i></span>-->
<!--          <span class="position-absolute top-50 search-close translate-middle-y"><i class="bx bx-x"></i></span>-->
<!--        </div>-->
<!--      </div>-->
      <div class="top-menu ms-auto" >
        <ul class="navbar-nav align-items-center" *ngIf="isLoggedIn">
          <li class="nav-item mobile-search-icon">
            <a class="nav-link" href="#" (click)="$event.preventDefault()">	<i class='bx bx-search'></i>
            </a>
          </li>

        </ul>
      </div>
      <div *ngIf="!isLoggedIn">
        <button class="btn btn-dark me-3 radius-30 px-4" (click)="login()"><i class='bx bx-lock'></i> Login</button>
      </div>
      <div class="user-box dropdown" *ngIf="isLoggedIn">
        <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
<!--          <img src="assets/images/avatars/avatar-2.png" class="user-img" alt="user avatar">-->
          <span class="circle">{{initials}}</span>
          <div class="user-info ps-3">
            <p class="user-name mb-0">{{currentKeycloakUser.firstName}} {{currentKeycloakUser.lastName}}</p>
            <p class="designattion mb-0">Team Leader</p>
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" routerLink="/user-profile"><i class="bx bx-user"></i><span>Profile</span></a>
          </li>
          <li><a class="dropdown-item" routerLink="/ecommerce/orders"><i class="bx bx-cog"></i><span>Orders</span></a>
          </li>
          <li><a class="dropdown-item" routerLink="/dashboard/e-commerce"><i class='bx bx-home-circle'></i><span>Dashboard</span></a>
          </li>
          <li><a class="dropdown-item" routerLink="/earnings"><i class='bx bx-dollar-circle'></i><span>Earnings</span></a>
          </li>
          <li><a class="dropdown-item" routerLink="/downloads"><i class='bx bx-download'></i><span>Downloads</span></a>
          </li>
          <li>
            <div class="dropdown-divider mb-0"></div>
          </li>
          <li><a class="dropdown-item" (click)="logout()"><i class='bx bx-log-out-circle'></i><span>Logout</span></a>
          </li>
        </ul>
      </div >
    </nav>
  </div>
</header>
<!--end header -->
