
<div style="height: 60vh;">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div>
      <div class="h-100 d-flex align-items-center justify-content-center">
        <i class='bx bx-lock' style="font-size: 100px; height: 150px;"></i>
      </div>
      <div class="message">
        <h1  class="h-100 d-flex align-items-center justify-content-center">Access to this page is restricted</h1>
        <p  class="h-100 d-flex align-items-center justify-content-center">Please check with the site admin if you believe this is a mistake.</p>
      </div>
    </div>
  </div>
</div>

