<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
  <div class="breadcrumb-title pe-3">BPMS</div>
  <div class="ps-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0 p-0">
        <li class="breadcrumb-item"><a href="#" (click)="$event.preventDefault()"><i class="bx bx-home-alt breadcrumb-item"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Activities</li>
      </ol>
    </nav>
  </div>
</div>
<!--end breadcrumb-->

<div class="card">
  <div class="card-body">
    <div class="d-lg-flex align-items-center mb-4 gap-3">
      <div class="position-relative">
        <input type="text" class="form-control ps-5 radius-30" placeholder="Search Activites"> <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table mb-0">
        <thead class="table-light">
        <tr>
          <th>ActivityID</th>
          <th>ActivityName</th>
          <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let a of activities">
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-2">
                <h6 class="mb-0 font-14">{{a.id}}</h6>
              </div>
            </div>
          </td>
          <td>{{a.name}}</td>
          <td><button type="button" class="btn btn-primary btn-sm radius-30 px-4">View Details</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
