<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
  <div class="breadcrumb-title pe-3">BPMS</div>
  <div class="ps-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0 p-0">
        <li class="breadcrumb-item"><a href="#" (click)="$event.preventDefault()"><i class="bx bx-home-alt breadcrumb-item"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">RecproEventLog</li>
      </ol>
    </nav>
  </div>
</div>
<!--end breadcrumb-->

<mat-card>
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target)" placeholder="Filter">
    </mat-form-field>
  </div>

  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="ID">
        <mat-header-cell *matHeaderCellDef mat-sort-header="eventId">EventId</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="activity">
        <mat-header-cell *matHeaderCellDef mat-sort-header="task.activityId">task.activityId</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.task.activity.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div class="badge rounded-pill text-success bg-light-success p-2 text-uppercase px-3" *ngIf="row.status === 'complete'"><i class='bx bxs-circle me-1'></i>{{row.status}}</div>
          <div class="badge rounded-pill text-info bg-light-info p-2 text-uppercase px-3" *ngIf="row.status === 'start'"><i class='bx bxs-circle align-middle me-1' ></i>{{row.status}}</div>
          <div class="badge rounded-pill text-danger bg-light-danger p-2 text-uppercase px-3" *ngIf="row.status === 'withdraw' || row.status === 'ate_abort'" ><i class='bx bxs-circle align-middle me-1' ></i>{{row.status}}</div>
          <div class="badge rounded-pill text-warning bg-light-warning p-2 text-uppercase px-3" *ngIf="row.status !== 'complete' && row.status !== 'start' && row.status !== 'withdraw'"><i class='bx bxs-circle align-middle me-1' ></i>{{row.status}}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rating">
        <mat-header-cell *matHeaderCellDef mat-sort-header>RecproRating</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.rating.rating}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="assignee">
        <mat-header-cell *matHeaderCellDef mat-sort-header>AssigneeId</mat-header-cell>
        <mat-cell *matCellDef="let row"> NAME</mat-cell>
      </ng-container>

      <ng-container matColumnDef="details">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Details</mat-header-cell>
        <mat-cell *matCellDef="let row"><button type="button" class="btn btn-primary btn-sm radius-30 px-4">View Details</button></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>
</mat-card>


<br>
<!--<div class="card">-->
<!--  <div class="card-body">-->
<!--    <div class="d-lg-flex align-items-center mb-4 gap-3">-->
<!--      <div class="position-relative">-->
<!--        <input type="text" class="form-control ps-5 radius-30" placeholder="Search RecproEvent"> <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="table-responsive">-->
<!--      <table class="table mb-0">-->
<!--        <thead class="table-light">-->
<!--        <tr>-->
<!--          <th>TaskID</th>-->
<!--          <th>ActivityID</th>-->
<!--          <th>Status</th>-->
<!--          <th>StartDate</th>-->
<!--          <th>EndDate</th>-->
<!--          <th>RecproRating</th>-->
<!--          <th>AssigneeId</th>-->
<!--          <th>Details</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr *ngFor="let e of eventLog.events">-->
<!--          <td>-->
<!--            <div class="d-flex align-items-center">-->
<!--              <div class="ms-2">-->
<!--                <h6 class="mb-0 font-14">{{e.id}}</h6>-->
<!--              </div>-->
<!--            </div>-->
<!--          </td>-->
<!--          <td>{{e.task.activityId}}</td>-->
<!--          <td><div class="badge rounded-pill text-success bg-light-success p-2 text-uppercase px-3"><i class='bx bxs-circle me-1'></i>{{e.status}}</div></td>-->
<!--          <td>{{e.startTime}}</td>-->
<!--          <td>{{e.endTime}}</td>-->
<!--          <td>{{e.rating.rating}}</td>-->
<!--          <td>{{e.task.assigneeId}}</td>-->
<!--          <td><button type="button" class="btn btn-primary btn-sm radius-30 px-4">View Details</button></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
