<div *ngIf="this.loader.getLoading()" class="cssload-container">
  <div class="cssload-speeding-wheel"></div>
  <div style="
  color: green;
  position: absolute;
  left: 48%;
  top: 48%;
">{{loader.getMessage()}}</div>
</div>
