<!--<button routerLink="manager">Manager Page</button>-->
<!--<button routerLink="admin">Admin Page</button>-->
<!--<button (click)="test()">Test</button>-->
<!--<button (click)="logout()">logout</button>-->
<!--<button routerLink="bpms">BPMS Page</button>-->
<!--<button routerLink="ums">UMS Page</button>-->
<!--<button routerLink="recpro">RecPro Config Page</button>-->
<router-outlet></router-outlet>
<app-spinner></app-spinner>
  <!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<app-test-controller></app-test-controller>-->
