<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
  <div class="breadcrumb-title pe-3">RecproAttributes</div>
  <div class="ps-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0 p-0">
        <li class="breadcrumb-item"><a href="#" (click)="$event.preventDefault()"><i class="bx bx-home-alt breadcrumb-item"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Default</li>
      </ol>
    </nav>
  </div>
</div>
<!--end breadcrumb-->


<div class="card">
  <div class="card-body">
    <div class="d-lg-flex align-items-center mb-4 gap-3">
      <div class="position-relative">
        <input type="text" class="form-control ps-5 radius-30" placeholder="Search RecproAttribute"> <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
      </div>
      <div class="ms-auto" *ngIf="addAttributeAccess"><a href="#" (click)="$event.preventDefault()" class="btn btn-primary radius-30 mt-2 mt-lg-0"><i class="bx bxs-plus-square"></i>Add New RecproAttribute</a></div>
    </div>
    <div class="table-responsive">
      <table class="table mb-0">
        <thead class="table-light">
        <tr>
          <th>AttributeID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of attributes">
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-2">
                <h6 class="mb-0 font-14">{{c.id}}</h6>
              </div>
            </div>
          </td>
          <td>{{c.name}}</td>
          <td>{{c.description}}</td>
          <td>
            <div class="d-flex order-actions">
              <button (click)="editAttribute()" class="" *ngIf="editAttributeAccess"><i class='bx bxs-edit'></i></button>
              <button (click)="deleteAttribute()" class="ms-3" *ngIf="editAttributeAccess"><i class='bx bxs-trash'></i></button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



